In [1]:
import pandas as pd

obj = pd.read_pickle(r'/Users/shashankkumar/Documents/GitHub/Syspop/etc/data/test_data/population.pickle')

In [6]:
obj.keys()

dict_keys(['age', 'gender', 'ethnicity'])

In [7]:
obj['age']

,area,0,1,2,3,4,5,6,7,8,...,91,92,93,94,95,96,97,98,99,100
0,100100,16,16,16,16,16,22,22,22,22,...,1,1,1,1,1,1,1,1,1,1
1,100200,40,40,40,40,40,44,44,44,44,...,1,1,1,1,1,1,1,1,1,1
2,100300,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,100400,13,13,13,13,13,18,18,18,18,...,1,1,1,1,1,1,1,1,1,1
4,100500,19,19,19,19,19,18,18,18,18,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2221,362900,33,33,33,33,33,33,33,33,33,...,1,1,1,1,1,1,1,1,1,1
2222,363000,23,23,23,23,23,26,26,26,26,...,0,0,0,0,0,0,0,0,0,0
2223,363100,6,6,6,6,6,11,11,11,11,...,0,0,0,0,0,0,0,0,0,0
2225,363300,17,17,17,17,17,25,25,25,25,...,1,1,1,1,1,1,1,1,1,1
2230,343000,7,7,7,7,7,8,8,8,8,...,1,1,1,1,1,1,1,1,1,1

In [8]:
obj['ethnicity']

,area,ethnicity,0,1,2,3,4,5,6,7,...,91,92,93,94,95,96,97,98,99,100
0,100100,European,5.709252,5.709252,5.709252,5.709252,5.709252,7.850221,7.850221,7.850221,...,0.631835,0.631835,0.631835,0.631835,0.631835,0.631835,0.631835,0.631835,0.631835,0.631835
1,100100,Maori,8.925731,8.925731,8.925731,8.925731,8.925731,12.272880,12.272880,12.272880,...,0.344637,0.344637,0.344637,0.344637,0.344637,0.344637,0.344637,0.344637,0.344637,0.344637
2,100100,Pacific,1.005150,1.005150,1.005150,1.005150,1.005150,1.382081,1.382081,1.382081,...,0.023652,0.023652,0.023652,0.023652,0.023652,0.023652,0.023652,0.023652,0.023652,0.023652
3,100100,Asian,0.281442,0.281442,0.281442,0.281442,0.281442,0.386983,0.386983,0.386983,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,100100,MELAA,0.080412,0.080412,0.080412,0.080412,0.080412,0.110566,0.110566,0.110566,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10625,343000,European,3.500435,3.500435,3.500435,3.500435,3.500435,4.000497,4.000497,4.000497,...,0.580319,0.580319,0.580319,0.580319,0.580319,0.580319,0.580319,0.580319,0.580319,0.580319
10626,343000,Maori,3.294527,3.294527,3.294527,3.294527,3.294527,3.765173,3.765173,3.765173,...,0.419805,0.419805,0.419805,0.419805,0.419805,0.419805,0.419805,0.419805,0.419805,0.419805
10627,343000,Pacific,0.102954,0.102954,0.102954,0.102954,0.102954,0.117662,0.117662,0.117662,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10628,343000,Asian,0.102954,0.102954,0.102954,0.102954,0.102954,0.117662,0.117662,0.117662,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10629,343000,MELAA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [9]:
obj['gender']

,area,gender,0,1,2,3,4,5,6,7,...,91,92,93,94,95,96,97,98,99,100
0,100100,female,7.280005,7.280005,7.280005,7.280005,7.280005,10.010008,10.010008,10.010008,...,0.500500,0.500500,0.500500,0.500500,0.500500,0.500500,0.500500,0.500500,0.500500,0.500500
1,100100,male,8.736007,8.736007,8.736007,8.736007,8.736007,12.012009,12.012009,12.012009,...,0.500500,0.500500,0.500500,0.500500,0.500500,0.500500,0.500500,0.500500,0.500500,0.500500
2,100200,female,19.352681,19.352681,19.352681,19.352681,19.352681,21.287949,21.287949,21.287949,...,0.474158,0.474158,0.474158,0.474158,0.474158,0.474158,0.474158,0.474158,0.474158,0.474158
3,100200,male,20.687349,20.687349,20.687349,20.687349,20.687349,22.756084,22.756084,22.756084,...,0.526843,0.526843,0.526843,0.526843,0.526843,0.526843,0.526843,0.526843,0.526843,0.526843
4,100400,female,7.048714,7.048714,7.048714,7.048714,7.048714,9.759757,9.759757,9.759757,...,0.455000,0.455000,0.455000,0.455000,0.455000,0.455000,0.455000,0.455000,0.455000,0.455000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,363100,male,3.003002,3.003002,3.003002,3.003002,3.003002,5.505504,5.505504,5.505504,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4188,363300,female,8.250673,8.250673,8.250673,8.250673,8.250673,12.133342,12.133342,12.133342,...,0.474158,0.474158,0.474158,0.474158,0.474158,0.474158,0.474158,0.474158,0.474158,0.474158
4189,363300,male,8.766340,8.766340,8.766340,8.766340,8.766340,12.891676,12.891676,12.891676,...,0.526843,0.526843,0.526843,0.526843,0.526843,0.526843,0.526843,0.526843,0.526843,0.526843
4190,343000,female,3.185002,3.185002,3.185002,3.185002,3.185002,3.640003,3.640003,3.640003,...,0.556112,0.556112,0.556112,0.556112,0.556112,0.556112,0.556112,0.556112,0.556112,0.556112
4191,343000,male,3.822003,3.822003,3.822003,3.822003,3.822003,4.368003,4.368003,4.368003,...,0.444889,0.444889,0.444889,0.444889,0.444889,0.444889,0.444889,0.444889,0.444889,0.444889

In [5]:
obj

{'age':         area   0   1   2   3   4   5   6   7   8  ...  91  92  93  94  95  96  \
 0     100100  16  16  16  16  16  22  22  22  22  ...   1   1   1   1   1   1
 1     100200  40  40  40  40  40  44  44  44  44  ...   1   1   1   1   1   1
 2     100300   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
 3     100400  13  13  13  13  13  18  18  18  18  ...   1   1   1   1   1   1
 4     100500  19  19  19  19  19  18  18  18  18  ...   0   0   0   0   0   0
 ...      ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..
 2221  362900  33  33  33  33  33  33  33  33  33  ...   1   1   1   1   1   1
 2222  363000  23  23  23  23  23  26  26  26  26  ...   0   0   0   0   0   0
 2223  363100   6   6   6   6   6  11  11  11  11  ...   0   0   0   0   0   0
 2225  363300  17  17  17  17  17  25  25  25  25  ...   1   1   1   1   1   1
 2230  343000   7   7   7   7   7   8   8   8   8  ...   1   1   1   1   1   1

       97  98  99  100
 0      1   1   1    1
 1      1   1   1    1
 2      0   0   0    0
 3      1   1   1    1
 4      0   0   0    0
 ...   ..  ..  ..  ...
 2221   1   1   1    1
 2222   0   0   0    0
 2223   0   0   0    0
 2225   1   1   1    1
 2230   1   1   1    1

 [2146 rows x 102 columns],
 'gender':         area  gender          0          1          2          3          4  \
 0     100100  female   7.280005   7.280005   7.280005   7.280005   7.280005
 1     100100    male   8.736007   8.736007   8.736007   8.736007   8.736007
 2     100200  female  19.352681  19.352681  19.352681  19.352681  19.352681
 3     100200    male  20.687349  20.687349  20.687349  20.687349  20.687349
 4     100400  female   7.048714   7.048714   7.048714   7.048714   7.048714
 ...      ...     ...        ...        ...        ...        ...        ...
 4187  363100    male   3.003002   3.003002   3.003002   3.003002   3.003002
 4188  363300  female   8.250673   8.250673   8.250673   8.250673   8.250673
 4189  363300    male   8.766340   8.766340   8.766340   8.766340   8.766340
 4190  343000  female   3.185002   3.185002   3.185002   3.185002   3.185002
 4191  343000    male   3.822003   3.822003   3.822003   3.822003   3.822003

               5          6          7  ...        91        92        93  \
 0     10.010008  10.010008  10.010008  ...  0.500500  0.500500  0.500500
 1     12.012009  12.012009  12.012009  ...  0.500500  0.500500  0.500500
 2     21.287949  21.287949  21.287949  ...  0.474158  0.474158  0.474158
 3     22.756084  22.756084  22.756084  ...  0.526843  0.526843  0.526843
 4      9.759757   9.759757   9.759757  ...  0.455000  0.455000  0.455000
 ...         ...        ...        ...  ...       ...       ...       ...
 4187   5.505504   5.505504   5.505504  ...  0.000000  0.000000  0.000000
 4188  12.133342  12.133342  12.133342  ...  0.474158  0.474158  0.474158
 4189  12.891676  12.891676  12.891676  ...  0.526843  0.526843  0.526843
 4190   3.640003   3.640003   3.640003  ...  0.556112  0.556112  0.556112
 4191   4.368003   4.368003   4.368003  ...  0.444889  0.444889  0.444889

             94        95        96        97        98        99       100
 0     0.500500  0.500500  0.500500  0.500500  0.500500  0.500500  0.500500
 1     0.500500  0.500500  0.500500  0.500500  0.500500  0.500500  0.500500
 2     0.474158  0.474158  0.474158  0.474158  0.474158  0.474158  0.474158
 3     0.526843  0.526843  0.526843  0.526843  0.526843  0.526843  0.526843
 4     0.455000  0.455000  0.455000  0.455000  0.455000  0.455000  0.455000
 ...        ...       ...       ...       ...       ...       ...       ...
 4187  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
 4188  0.474158  0.474158  0.474158  0.474158  0.474158  0.474158  0.474158
 4189  0.526843  0.526843  0.526843  0.526843  0.526843  0.526843  0.526843
 4190  0.556112  0.556112  0.556112  0.556112  0.556112  0.556112  0.556112
 4191  0.444889  0.444889  0.444889  0.444889  0.444889  0.444889  0.444889

 [4192 rows x 103 columns],
 'ethnicity':          area ethnicity         0         1         2         3         4  \
 0      100100  European  5.709252  5.709252  5.709252  5.709252  5.709252
 1      100100     Maori  8.925731  8.925731  8.925731  8.925731  8.925731
 2      100100   Pacific  1.005150  1.005150  1.005150  1.005150  1.005150
 3      100100     Asian  0.281442  0.281442  0.281442  0.281442  0.281442
 4      100100     MELAA  0.080412  0.080412  0.080412  0.080412  0.080412
 ...       ...       ...       ...       ...       ...       ...       ...
 10625  343000  European  3.500435  3.500435  3.500435  3.500435  3.500435
 10626  343000     Maori  3.294527  3.294527  3.294527  3.294527  3.294527
 10627  343000   Pacific  0.102954  0.102954  0.102954  0.102954  0.102954
 10628  343000     Asian  0.102954  0.102954  0.102954  0.102954  0.102954
 10629  343000     MELAA  0.000000  0.000000  0.000000  0.000000  0.000000

                5          6          7  ...        91        92        93  \
 0       7.850221   7.850221   7.850221  ...  0.631835  0.631835  0.631835
 1      12.272880  12.272880  12.272880  ...  0.344637  0.344637  0.344637
 2       1.382081   1.382081   1.382081  ...  0.023652  0.023652  0.023652
 3       0.386983   0.386983   0.386983  ...  0.000000  0.000000  0.000000
 4       0.110566   0.110566   0.110566  ...  0.000000  0.000000  0.000000
 ...          ...        ...        ...  ...       ...       ...       ...
 10625   4.000497   4.000497   4.000497  ...  0.580319  0.580319  0.580319
 10626   3.765173   3.765173   3.765173  ...  0.419805  0.419805  0.419805
 10627   0.117662   0.117662   0.117662  ...  0.000000  0.000000  0.000000
 10628   0.117662   0.117662   0.117662  ...  0.000000  0.000000  0.000000
 10629   0.000000   0.000000   0.000000  ...  0.000000  0.000000  0.000000

              94        95        96        97        98        99       100
 0      0.631835  0.631835  0.631835  0.631835  0.631835  0.631835  0.631835
 1      0.344637  0.344637  0.344637  0.344637  0.344637  0.344637  0.344637
 2      0.023652  0.023652  0.023652  0.023652  0.023652  0.023652  0.023652
 3      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
 4      0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
 ...         ...       ...       ...       ...       ...       ...       ...
 10625  0.580319  0.580319  0.580319  0.580319  0.580319  0.580319  0.580319
 10626  0.419805  0.419805  0.419805  0.419805  0.419805  0.419805  0.419805
 10627  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
 10628  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
 10629  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

 [10630 rows x 103 columns]}

In [ ]:
from syspop.syspop import create as syspop_create

syspop_create(
    syn_areas = [135400, 111400, 110400],
    output_dir = "/tmp/syspop_test",
    pop_gender = pop_data["gender"],
    pop_ethnicity = pop_data["ethnicity"],
    geo_hierarchy = geog_data["hierarchy"],
    geo_location = geog_data["location"],
    geo_address = geog_data["address"],
    household = household_data["household"],
    socialeconomic = geog_data["socialeconomic"],
    work_data = work_data,
    home_to_work = commute_data["home_to_work"],
    school_data = school_data["school"],
    hospital_data = hospital_data["hospital"],
    supermarket_data = supermarket_data["supermarket"],
    restaurant_data = restaurant_data["restaurant"],
    assign_address_flag = True,
    rewrite_base_pop = False,
    use_parallel = True,
    ncpu = 8
)